@mixin small-text {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

.myAuthForm {
  &__lower-part {
    @include small-text;
    margin: 0 0 88px 0;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  &__privacy-policy {
    margin: 0;
    color: var(--text-color-gray);
  }

  &__privacy-policy-text {
    display: inline;
    color: var(--button-active-color);
    text-decoration: underline;
    cursor: pointer;
  }

  &__button {
    margin: 40px 0;
    background-color: var(--button-active-color);
  }

  &__button:disabled {
    background-color: var(--button-disabled-color);
    color: var(--text-color-white);
  }

  &__question {
    margin: 0;
  }

  &__login-btn {
    display: inline;
    color: var(--button-active-color);
    text-decoration: underline;
    margin-left: 8px;
    cursor: pointer;
  }
}
