.work {
  margin: 7px 0 0 0;
  padding: 0;
  list-style-type: none;
  gap: 24px;

  &__main {
    max-width: 802px;
    padding-left: 118px;

    p {
      white-space: pre-line;
    }
  }

  &__aside {
    max-width: 330px;
    gap: 40px;
  }
}
