.order-creation {
  &__button {
    position: absolute;
    top: 0;
    left: calc(50% - 600px);
    width: 100px;
    border: none;
    background-color: inherit;
    display: flex;
    align-items: center;
    padding: 5px 2px 0 0;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__textarea {
    min-width: 100%;
    &_currency::after {
      content: " ";
      background-image: url("../../../../assets/icons/ruble.svg");
      width: 24px;
      height: 24px;
      margin-right: 16px;
    }
  }
}
