.designerFilters {
  /*   position: sticky;
  top: 84px;
  z-index: 100; */

  &__title {
    color: var(--colors-black);
    font-family: Roboto;
    margin: 0 0 20px 0;
    font-size: 24px;
    line-height: 32px;
    font-style: normal;
    font-weight: 400;
  }

  &__dropdown {
    height: 56px;
  }

  &__checkbox {
    display: flex;
    justify-content: space-between;
    margin: 0;

    & .myCheckBox {
      margin: 0;
    }

    & .MuiFormControlLabel-label {
      margin: 0;
      color: var(--colors-black);
    }
  }

  &__container {
    /* margin: 40px 0; */
    margin: 15px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  &__radio {
    box-sizing: border-box;
    &-item {
      display: flex;
      justify-content: space-between;
      margin: 0;
    }
  }

  &__button {
    color: #49454f;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    justify-content: flex-start;
    border-color: #49454f;
    width: 152px;
    height: 28px;
    margin-top: 20px;

    &:hover {
      color: #49454f;
      border-color: #49454f;

      & svg {
        color: #49454f;
      }
    }

    & svg {
      color: #49454f;
    }
    &:disabled svg {
      color: #49454f;
    }
  }

  &__container_type_bottom {
    text-align: center;
  }
}
