.designersPage {
  flex-grow: 1;

  &__grid {
    justify-content: space-between;

    .css-96ko50-MuiGrid-root {
      margin: 0 auto;
    }
  }

  &__container {
    max-width: 1440px;
    box-sizing: border-box;
    margin: 20px auto 20px;
  }

  &__cards {
    display: grid;
    row-gap: 48px;
    padding-left: 142px;
    grid-template-rows: 240px;

    &.MuiGrid-item {
      padding-left: 142px;
    }
  }

  &__filters {
    max-width: 330px;
    &.MuiGrid-item {
      padding-left: 38px;
    }
  }
}
