:root {
  --primary: #6e41e2;
}

.myDropDown {
  box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04),
    0 4px 16px rgba(51, 51, 51, 0.08);

  &__element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    font-size: 14px;
  }

  &__element:hover {
    background-color: rgba(153, 50, 204, 0.425);
  }

  &__checkbox {
    padding: 0;
    margin-right: 8px;
  }

  &__input .MuiAutocomplete-inputRoot {
    background-color: white;
  }

  &__input {
    .MuiAutocomplete-inputRoot:hover::before {
      border-bottom: none;
    }
  }

  &__input .MuiFilledInput-root {
    padding-top: 0;
  }

  &__input div::after {
    border: none;
  }

  &__input div::before {
    border: none;
  }

  &__input div::after:hover {
    border: none;
  }

  &__input div::before:hover {
    border: none;
  }

  &__input .MuiChip-filledDefault {
    color: white;
    background-color: var(--primary);
    border-radius: 4px;
  }

  &__input .MuiChip-filledDefault img:hover {
    opacity: 0.7;
  }
}
