.respondedDesigner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 330px;

    &__avatar {
        width: 52px;
        height: 52px;
        margin-bottom: 22px;
        margin-top: 40px;
    }

    &__name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.15px;
    }

    &__info {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.1px;
        margin-bottom: 22px;
    }
}