.myButton {
  font-weight: 500;
  /*  border-color: var(--button-active-color);

  &:active {
    background-color: (--button-disabled-color);
  }

  &.MuiButton-outlined {
    color: var(--button-active-color);
  }

  &:disabled.MuiButton-outlined {
    color: var(--button-disabled-color);
  } */

  &.MuiButton-sizeMedium {
    min-width: 200px;
  }
}
