:root {
  --text-color-gray: #6b6b6b;
  --text-color-white: #fff;
  --text-color-black: #000;
  --button-active-color: #6e41e2;
  --button-disabled-color: #e3daf9;
  --button-super-red: #c7302b;
  --validation-error-color: #db524e;
  --validation-light-error-color: #b3261e;

  --font-size-small: 16px;
  --font-size-medium: 22px;
  --font-size-large: 32px;

  --line-height-small: 24px;
  --line-height-medium: 28px;
  --line-height-large: 40px;
}
// ! УБРАТЬ CSS ПЕРЕМЕННЫЕ ИЗ КОДА

// Цвет
$text-color-gray: #6b6b6b;
$text-color-white: #fff;
$text-color-black: #000;
$button-active-color: #6e41e2;
$button-disabled-color: #e3daf9;
$button-super-red: #c7302b;
$validation-error-color: #db524e;
$validation-light-error-color: #b3261e;

// Размер шрифта
$font-size-small: 16px;
$font-size-medium: 22px;
$font-size-large: 32px;

// Высота строки
$line-height-small: 24px;
$line-height-medium: 28px;
$line-height-large: 40px;

// Жирность шрифта
$font-weight-default: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

// Стиль написания
$font-style-default: normal;
$font-style-italic: italic;
