@mixin small-text {
  font-size: $font-size-small;
  line-height: $line-height-small;
  font-weight: $font-weight-default;
  font-style: $font-style-default;
}

@mixin meduim-text {
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  font-weight: $font-weight-default;
  font-style: $font-style-default;
}

@mixin large-text {
  font-size: $font-size-large;
  line-height: $line-height-large;
  font-weight: $font-weight-default;
  font-style: $font-style-default;
}
