.caseInfo {
  &__title {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0;
  }

  &__text {
    margin-bottom: 4px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
  }

  &__deadline {
    margin-bottom: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  }

  &__list {
    list-style-type: none;
    max-width: 305px;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: flex-start;

    &-item {
      flex-shrink: 1;
      padding: 6px 15px;

      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.1px;
      color: inherit;

      box-sizing: border-box;
      border-radius: 8px;
      border-width: 1px;
      border-color: inherit;
      border-style: solid;
    }
  }
}
