@keyframes scale-preloader {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

@keyframes gradient-preloader {
  0% {
    transform: translate(-50%, -50%) rotate(-10deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(190deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-10deg);
  }
}

.preloader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;

  width: 100vw;
  flex-grow: 1;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;

    overflow: hidden;
    width: 30svb;
    max-width: 50svi;
    height: 30svb;
    max-height: 50svi;

    border-radius: 50%;
    transform: translate(-50%, -50%);

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 1000%;
      height: 1000%;
      z-index: -1;
      background: linear-gradient(
        -90deg,
        #4b40a7 37%,
        #7b77e9 45%,
        #4e8dff 50%,
        #19afdc 55%,
        #0ea5ce 62%
      );

      animation: gradient-preloader 11s cubic-bezier(0.84, -0.26, 0.16, 1.24)
        infinite;

      transform-origin: 50%;
    }

    animation: scale-preloader 3s ease-in-out infinite;
  }
}
