@mixin small-text {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

.mySwiper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 10px 0;
  max-width: 330px;
  min-height: 240px;
  border-radius: 12px;
  cursor: pointer;

  &__lower-part {
    cursor: default;
    color: var(--text-color-white);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 30%,
      rgba(0, 0, 0, 0.18) 66.46%,
      rgba(0, 0, 0, 0) 100%
    );
    transition: all 0.3s linear;
  }

  &__heading {
    @include small-text();
    margin: 16px 16px 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__action-bar {
    margin: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__author-info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__avatar {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }

  &__author-name {
    max-width: 171px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    text-align: center;
  }

  &__icon-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }

  &__icon {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
  }

  &__icon:hover {
    opacity: 0.7;
  }

  &__icon:active {
    scale: 1.2;
  }
}

.mySwiper:hover {
  .mySwiper__lower-part {
    height: 80px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    scale: 1.1;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-next {
  background-image: url(../../../assets/icons/Swiper-right.svg);
  width: 0;
  height: 40px;
}

.swiper-button-prev {
  background-image: url(../../../assets/icons/Swiper-left.svg);
  width: 0;
  height: 40px;
}

.swiper-wrapper {
  height: 240px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
