.mentorship {
  max-width: 684px;
  margin-left: 24px;

  &__sectionText {
    color: var(--dark_grey, #98979a);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
    margin: 48px 0 0;
  }

  &__radioItem {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  &__header {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin: 0 0 40px 0;
  }

  &__myDrowDown {
    input {
      min-height: 42px;
    }
  }

  &__input {
    color: var(--colors-black, #111);
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 127.273% */
  }

  &__btn {
    width: 330px;
    margin-top: 60px;
  }

  &__name {
    color: var(--colors-black, #111);
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 127.273% */
    max-width: 212px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__image_wrapper {
    max-width: 412px;
    display: flex;
    column-gap: 16px;
  }

  &__sections {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }

  &__section {
    display: flex;
    column-gap: 24px;
    row-gap: 60px;

    &_title {
      color: var(--colors-black, #111);
      font-family: Roboto;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px; /* 133.333% */
      flex-basis: 212px;
    }
    &_subtitle {
      color: var(--colors-black, #111);
      /* M3/title/medium */
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
      letter-spacing: 0.15px;
    }
    &_wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      flex-grow: 1;
      max-width: 448px;
    }
    &_textarea {
      min-width: 100%;

      &_currency::after {
        content: " ";
        background-image: url("../../../../assets/icons/ruble.svg");
        width: 24px;
        height: 24px;
        margin-right: 16px;
      }
    }
  }
}
