.confirm-password {
  margin: 30px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  
  &__form {
    width: 100%;
    min-height: 40px;
    display: grid;
    row-gap: 28px;
  }

  &__body {
    display: grid;
    grid-template-columns: minmax(auto, 448px);
    row-gap: 24px;
  }

  &__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    margin: 0;
    min-height: 40px;
    max-width: 448px;
    color: var(--text-color-black);
  }

  &__subtitle {
    margin: 0
  }

  &__form-wrapper {
    max-width: 448px;
    margin: 0 140px 0 119px;
  }

  &__footer {
    margin-top: 8px;
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    display: grid;
    row-gap: 12px;
  }
}
