.profileInfo {
  &__title {
    margin: 0;
    padding: 0;
  }

  &__subtitle {
    font-size: 22px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 28px !important;
    letter-spacing: 0;
  }
}

.profileInfo__title-item {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  font-size: 32px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 40px !important;
  letter-spacing: 0;
}

.profileInfo__avatar {
  height: 94px !important;
  width: 94px !important;
  border-radius: 50% !important;
  font-size: 30px !important;
  background-color: #4f378b !important;
  color: #eaddff !important;

  :hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
