@mixin small-text {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

.myInput {
  &__input {
    &-type {
      &-label-without {
        padding: 0;

        .MuiInputBase-input {
          padding: 16px 16px 22px 16px;
        }
      }
    }
    &_length {
      text-align: right;
      color: var(--text-color-gray);
      margin-right: 10px;
      position: absolute;
      bottom: 5px;
      right: 12px;
    }
  }

  &__textarea_error_wrapper {
    position: absolute;
    bottom: -30px;
  }

  &__container {
    margin-bottom: 8px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow:
      0 4px 4px rgba(51, 51, 51, 0.04),
      0 4px 16px rgba(51, 51, 51, 0.08);

    &_type_multy {
      height: auto;
    }

    &_type_multy {
      height: auto;
    }

    &_type_incorrect {
      background-color: #f9e3e3;
      box-shadow:
        0 4px 4px rgba(255, 195, 195, 0.24),
        0 4px 16px rgba(255, 195, 195, 0.04);
    }

    & .MuiInputBase-root {
      background-color: inherit;
    }

    fieldset {
      border: none;
      outline: none;
    }

    label {
      @include small-text;
      color: var(--text-color-gray) !important;
      top: 0;
      left: 0;
    }

    input:focuced + label {
      color: var(--text-color-gray);
    }

    .MuiFormHelperText-root {
      @include small-text();
      color: var(--validation-error-color) !important;
      margin: 8px 0 0 0;
    }
  }

  &__container:last-child {
    margin-bottom: 0;
  }
}
