@import "@fontsource/roboto"; // Defaults to weight 400
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/400-italic.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/500-italic.css";
@import "@fontsource/roboto/700.css";
@import "@fontsource/roboto/700-italic.css";
@import "@fontsource/roboto/900.css";
@import "@fontsource/roboto/900-italic.css";

/* 
Weights: [100,300,400,500,700,900]
Styles: [italic,normal]
Subsets: [cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese]
 */
