.case-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
  width: 100%;
  margin-left: -130px;
  padding: 0;

  p, span {
    word-break: break-word;
  }

  &__aside {
    position: sticky;
    max-width: 500px;
    min-width: 400px;
  }

  &__image-list {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 0;
    width: 920px;
  }

  &__image-item {
    width: 100%;
    max-height: 565px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
  }

  &__content {
    width: 200%;
    margin-right: -480px;
  }

  &__submit {
    display: flex;
    gap: 24px;
    justify-content: end;
    text-align: center;
  }

  &__btn {
    text-align: center;
    width: 200px;

    &-back {
      width: 300px;
      text-align: center;
    }
  }
}
