.portfolio {
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 24px;

  &__image {
    width: 330px;
    height: 240px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 12px;

    &:hover {
      opacity: 0.8;
    }
  }
}
