.profileNav {
  display: flex;

  &__button {
    flex-grow: 1;

    min-height: 28px;
    padding: 16px 24px;

    border-radius: 4px;
    border-width: 2px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;

    &:hover {
      border-radius: 4px;
      border-width: 2px;
    }
  }

  &__big-button {
    min-height: 60px;
  }
}
