.favouritedCases {
  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__image {
    width: 330px;
    height: 240px;
    border-radius: 12px;
    object-fit: cover;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  &__preloader{
    margin: 0 auto;
  }
}
