.favouritedCases {
    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    &__image {
        width: 330px;
        height: 240px;
        border-radius: 12px; 
        object-fit: cover;
        cursor: pointer;
    }
}