.intro {
  min-height: 551px;
  padding: 124px 0 75px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 53px;

  background-image: url("../../assets/images/intro-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    max-width: 1000px;
    color: #fff;

    text-align: center;
    font-family: inherit;
    /* это в макете в фигме
    font-size: 57px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;  
    letter-spacing: -0.25px; */

    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0px;

    &-accent {
      font-size: inherit;
      line-height: inherit;

      &_type_bold {
        font-weight: 900;
      }

      &_type_italic {
        font-style: italic;
      }
    }
  }
}
