.intro {
  min-height: 551px;
  padding: 128px 0 75px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 52px;

  background-image: url("../../assets/images/intro-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    max-width: 1000px;
    text-align: center;
    font-family: inherit;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0px;

    &-accent {
      font-size: inherit;
      line-height: inherit;

      &_type_bold {
        font-weight: 900;
      }

      &_type_italic {
        font-style: italic;
      }
    }
  }
}
