.info {
  margin: 16px 0 0 0;

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }

  &__status {
    display: block;
    padding: 1px 8px;

    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;

    border-radius: 100px;
    border: 1px solid #f1f1f1;
  }

  &__subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  &__button {
    min-width: 212px;
  }

  &__footer {
    text-align: right;
    min-width: 212px !important;
  }

  &__reg-date {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
}
