.ordersCard {
  font-family: Roboto;
  border: 1px solid #c3c3c3;
  border-radius: 24px;
  padding: 15px;
  max-width: 330px;
  min-height: 332px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;
  }

  &__user {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__name {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.024px;
  }

  &__favourite-icon {
    justify-self: flex-end;
  }

  &__title {
    max-height: 1.5em;
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.024px;
    margin: 0;
    /* Исключает внешний отступ абзаца */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
  }

  &__description {
    text-overflow: ellipsis;
    max-height: 3em;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.024px;
    margin: 0;
    /* Исключает внешний отступ абзаца */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
  }

  &__specialization {
    margin-top: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  &__price {
    color: #3bb440;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.08px;
    margin: 18px 0;
  }

  &__buttons {
    gap: 8px;
    display: flex;
    max-width: 99%;
    align-self: end;
  }

  &__button {
    width: 170px;
  }

  &__counts {
    display: flex;
    border-radius: 8px;
    border: 1px solid #6900ee;
    min-width: 51px;
    padding: 0 5px 0 5px;
    height: 24px;
    justify-content: center;
    justify-self: center;
    align-items: center;
    color: #6900ee;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    margin-right: -10px;
  }

  &__button-in-profile {
    display: flex;
    align-items: flex-start;
  }
}
