.case {
  display: flex;
  flex-direction: column;
  gap: 60px;

  &__wrapper {
    text-align: center;
    display: flex;
    justify-content: space-between;
    max-width: 448px;
    margin-left: auto;
  }

  &__btn {
    margin-top: 60px;
    width: 212px;
  }
}
