.case {
  display: flex;
  flex-direction: column;
  gap: 60px;

  &__submit {
    display: flex;
    gap: 24px;
    justify-content: end;
    text-align: center;
  }

  &__btn {
    margin-top: 60px;
    width: 200px;
  }
}
