@import "normalize.css";
@import url(../vendor/fonst.scss);

:root {
  --text-color-gray: #6b6b6b;
  --text-color-white: #fff;
  --text-color-black: #000;
  --button-active-color: #6e41e2;
  --button-disabled-color: #e3daf9;
  --validation-error-color: #db524e;

  --font-size-small: 16px;
  --font-size-medium: 22px;
  --font-size-large: 32px;
  --line-height-small: 24px;
  --line-height-medium: 28px;
  --line-height-large: 40px;
}

// Примеры
@mixin small-text {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

@mixin meduim-text {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
}

@mixin large-text {
  font-size: var(--font-size-lrge);
  line-height: var(--line-height-large);
}
