.casePage {
  flex-grow: 1;
  padding: 60px 0 0 0;

  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;

  &_preloader {
    align-items: stretch;
  }

  &__aside {
    position: sticky;
    top: 124px;
    margin-bottom: 30px;
    max-width: 448px;
    width: 100%;
  }

  &__content {
    margin-bottom: 40px;
  }

  &__image-list {
    margin: 0;
    padding: 0;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  &__image-item {
    width: 100%;
    max-height: 565px;

    object-fit: cover;
    object-position: center;

    border-radius: 8px;
  }
}
